/* Required: Import Tailwind CSS */
@import 'tailwindcss';

/* Required: Import Uniwind */
@import 'uniwind';

@theme {
  /* FONT SIZES */
  --text-h1: 50px;
  --text-h2: 32px;
  --text-h3: 28px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-h6: 18px;
  --text-body-lg: 20px;
  --text-body-1: 16px;
  --text-body-2: 14px;
  --text-label-1: 16px;
  --text-label-2: 14px;
  --text-caption-1: 12px;
  --text-caption-2: 10px;
  --text-overline-1: 10px;
  --text-overline-2: 8px;
  --text-logo: 160px;

  --text-button-sm: 20px;
  --text-button-md: 20px;
  --text-button-lg: 18px;

  --text-badge-sm: 10px;
  --text-badge-md: 16px;
  --text-badge-lg: 20px;

  --icon-xs-size: 12px;
  --icon-sm-size: 16px;
  --icon-md-size: 20px;
  --icon-lg-size: 24px;
  --icon-xl-size: 32px;
  --icon-2xl-size: 40px;
  --icon-3xl-size: 48px;
  --icon-4xl-size: 64px;
  --icon-5xl-size: 80px;
  --icon-6xl-size: 96px;
  --icon-7xl-size: 221px;

  --text-icon-xs: 12px;
  --text-icon-sm: 16px;
  --text-icon-md: 20px;
  --text-icon-lg: 24px;
  --text-icon-xl: 32px;
  --text-icon-2xl: 40px;
  --text-icon-3xl: 48px;
  --text-icon-4xl: 64px;

  --text-input-text-size: 15px;

  /* BORDER RADIUS */
  --radius-sm: 0.625rem;
  --radius-md: 20px;

  /* HEIGHTS */
  --height-sm: 32px;
  --height-md: 52px;

  /* LINE HEIGHTS */
  --line-height-badge-md: 16px;

  /* BASE COLORS (theme-independent) */
  --color-brand: rgba(74, 108, 250, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-error: rgba(239, 68, 68, 1);
}

@layer theme {
  :root {
    /* Light theme variables */
    @variant light {
      /* FIGMA COLORS */
      --color-accent: rgba(22, 0, 110, 1);
      --color-red: rgba(255, 0, 0, 1);
      --color-red-alpha-20: rgba(255, 0, 0, 0.2);
      --color-label-primary: rgba(0, 0, 0, 1);
      --color-label-secondary: rgba(60, 60, 67, 0.6);
      --color-label-accent: rgba(22, 0, 110, 1);
      --color-fill-accent: rgba(52, 46, 125, 1);
      --color-bg-vibrant-primary: rgba(229, 229, 229, 0.75);
      --color-bg-vibrant-accent: rgba(99, 109, 172, 0.2);
      --color-bg-primary: rgba(255, 255, 255, 1);
      --color-bg-secondary: rgba(120, 120, 128, 0.16);
      --color-bg-tertiary: rgba(239, 239, 239, 1);
      --color-miscellaneous: rgba(255, 255, 255, 1);
      --color-miscellaneous-topic-stroke: rgba(195, 195, 195, 1);
      --color-miscellaneous-component: rgba(138, 56, 245, 1);

      /* SCREEN */
      --color-screen-bg-primary: rgba(255, 255, 255, 1);

      /* BUTTON */
      --color-button-primary-bg: rgba(52, 46, 125, 1);
      --color-button-primary-text: rgba(255, 255, 255, 1);
      --color-button-primary-border: rgba(22, 0, 110, 1);

      --color-button-secondary-bg: rgba(120, 120, 128, 0.16);
      --color-button-secondary-text: rgba(22, 0, 110, 1);

      --color-button-outlined-bg: transparent;
      --color-button-outlined-text: rgba(22, 0, 110, 1);
      --color-button-outlined-border: rgba(22, 0, 110, 1);

      --color-button-outlined-secondary-bg: transparent;
      --color-button-outlined-secondary-text: rgba(22, 0, 110, 1);
      --color-button-outlined-secondary-border: rgba(195, 195, 195, 1);

      --color-button-white-bg: rgba(255, 255, 255, 1);
      --color-button-black-bg: rgba(0, 0, 0, 1);
      --color-button-email-bg: rgba(239, 239, 239, 1);

      /* BADGE */
      --color-badge-primary-bg: rgba(22, 0, 110, 1);
      --color-badge-primary-text: rgba(255, 255, 255, 1);
      --color-badge-primary-border: rgba(22, 0, 110, 1);

      --color-badge-secondary-bg: rgba(255, 255, 255, 1);
      --color-badge-secondary-text: rgba(22, 0, 110, 1);

      --color-badge-outlined-bg: transparent;
      --color-badge-outlined-text: rgba(22, 0, 110, 1);
      --color-badge-outlined-border: rgba(195, 195, 195, 1);

      /* ICON */
      --color-icon-accent: rgba(22, 0, 110, 1);
      --color-icon-white: rgba(255, 255, 255, 1);
      --color-icon-primary: rgba(0, 0, 0, 1);
      --color-icon-secondary: rgba(60, 60, 67, 0.6);
      --color-icon-logo: rgba(255, 255, 255, 1);
      --color-icon-miscellaneous: rgba(195, 195, 195, 1);
      --color-icon-tertiary: rgba(0, 0, 0, 0.5);
      --color-icon-brand: rgba(74, 108, 250, 1);
      --color-icon-red: rgba(239, 68, 68, 1);
      --color-icon-green: rgba(34, 197, 94, 1);
      --color-icon-blue: rgba(59, 130, 246, 1);
      --color-icon-error: rgba(239, 68, 68, 1);

      /* TYPOGRAPHY */
      --color-typography-primary: rgba(0, 0, 0, 1);
      --color-typography-secondary: rgba(60, 60, 67, 0.6);
      --color-typography-tertiary: rgba(0, 0, 0, 1);
      --color-typography-accent: rgba(22, 0, 110, 1);
      --color-typography-red: rgba(255, 0, 0, 1);
      --color-typography-white: rgba(255, 255, 255, 1);
      --color-typography-black: rgba(0, 0, 0, 1);

      /* SEPARATOR */
      --color-separator-bg: rgba(255, 255, 255, 0.1);

      /* INPUT */
      --color-input-primary-border: rgba(22, 0, 110, 1);
      --color-input-secondary-border: rgba(195, 195, 195, 1);
      --color-input-border--error: rgba(239, 68, 68, 1);
      --color-input-border--focus: rgba(0, 0, 0, 1);
      --color-input-text: rgba(0, 0, 0, 1);
      --color-input-label: rgba(0, 0, 0, 1);
      --color-input-placeholder: rgba(60, 60, 67, 0.6);
      --color-input-placeholder--error: rgba(239, 68, 68, 1);
    }

    /* Dark theme variables */
    @variant dark {
      /* FIGMA COLORS */
      --color-accent: rgba(52, 46, 125, 1);
      --color-red: rgba(255, 0, 0, 1);
      --color-red-alpha-20: rgba(255, 0, 0, 0.2);
      --color-label-primary: rgba(255, 255, 255, 1);
      --color-label-secondary: rgba(255, 255, 255, 0.6);
      --color-label-accent: rgba(255, 255, 255, 1);
      --color-fill-accent: rgba(52, 46, 125, 1);
      --color-bg-vibrant-primary: rgba(0, 0, 0, 0.75);
      --color-bg-primary: rgba(0, 0, 0, 1);
      --color-bg-secondary: rgba(0, 0, 0, 1);
      --color-bg-tertiary: rgba(34, 34, 34, 1);
      --color-miscellaneous: rgba(255, 255, 255, 1);
      --color-miscellaneous-topic-stroke: rgba(68, 68, 68, 1);
      --color-miscellaneous-component: rgba(138, 56, 245, 1);

      /* SCREEN */
      --color-screen-bg-primary: rgba(0, 0, 0, 1);

      /* BUTTON */
      --color-button-primary-bg: rgba(52, 46, 125, 1);
      --color-button-primary-text: rgba(255, 255, 255, 1);
      --color-button-primary-border: rgba(52, 46, 125, 1);

      --color-button-secondary-bg: rgba(74, 108, 250, 0.2);
      --color-button-secondary-text: rgba(52, 46, 125, 1);

      --color-button-outlined-bg: transparent;
      --color-button-outlined-text: rgba(255, 255, 255, 1);
      --color-button-outlined-border: rgba(52, 46, 125, 1);

      --color-button-outlined-secondary-bg: transparent;
      --color-button-outlined-secondary-text: rgba(255, 255, 255, 1);
      --color-button-outlined-secondary-border: rgba(68, 68, 68, 1);

      --color-button-white-bg: rgba(0, 0, 0, 1);
      --color-button-black-bg: rgba(255, 255, 255, 1);
      --color-button-email-bg: rgba(34, 34, 34, 1);

      /* BADGE */
      --color-badge-primary-bg: rgba(52, 46, 125, 1);
      --color-badge-primary-text: rgba(255, 255, 255, 1);
      --color-badge-primary-border: rgba(52, 46, 125, 1);

      --color-badge-secondary-bg: rgba(0, 0, 0, 1);
      --color-badge-secondary-text: rgba(255, 255, 255, 1);

      --color-badge-outlined-bg: transparent;
      --color-badge-outlined-text: rgba(255, 255, 255, 1);
      --color-badge-outlined-border: rgba(68, 68, 68, 1);

      /* ICON */
      --color-icon-accent: rgba(52, 46, 125, 1);
      --color-icon-white: rgba(255, 255, 255, 1);
      --color-icon-primary: rgba(255, 255, 255, 1);
      --color-icon-secondary: rgba(255, 255, 255, 0.6);
      --color-icon-logo: rgba(0, 0, 0, 1);
      --color-icon-miscellaneous: rgba(68, 68, 68, 1);
      --color-icon-tertiary: rgba(255, 255, 255, 0.5);
      --color-icon-brand: rgba(74, 108, 250, 1);
      --color-icon-red: rgba(239, 68, 68, 1);
      --color-icon-green: rgba(34, 197, 94, 1);
      --color-icon-blue: rgba(59, 130, 246, 1);
      --color-icon-error: rgba(239, 68, 68, 1);

      /* TYPOGRAPHY */
      --color-typography-primary: rgba(255, 255, 255, 1);
      --color-typography-secondary: rgba(255, 255, 255, 1);
      --color-typography-tertiary: rgba(255, 255, 255, 1);
      --color-typography-accent: rgba(255, 255, 255, 1);
      --color-typography-red: rgba(255, 0, 0, 1);
      --color-typography-white: rgba(255, 255, 255, 1);
      --color-typography-black: rgba(0, 0, 0, 1);

      /* SEPARATOR */
      --color-separator-bg: rgba(255, 255, 255, 0.2);

      /* INPUT */
      --color-input-primary-border: rgba(52, 46, 125, 1);
      --color-input-secondary-border: rgba(68, 68, 68, 1);
      --color-input-border--error: rgba(239, 68, 68, 1);
      --color-input-border--focus: rgba(0, 0, 0, 1);
      --color-input-text: rgba(255, 255, 255, 1);
      --color-input-label: rgba(0, 0, 0, 1);
      --color-input-placeholder: rgba(255, 255, 255, 0.6);
      --color-input-placeholder--error: rgba(239, 68, 68, 1);
    }
  }
}
