@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* SIZES */
    --h1: 38px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 18px;
    --body-1: 16px;
    --body-2: 14px;
    --label-1: 16px;
    --label-2: 14px;
    --caption-1: 12px;
    --caption-2: 10px;
    --overline-1: 10px;
    --overline-2: 8px;

    --button-sm-text-size: var(--caption-1);
    --button-md-text-size: var(--body-1);
    --button-lg-text-size: var(--h6);

    --badge-sm-text-size: var(--caption-2);
    --badge-md-text-size: var(--caption-1);
    --badge-lg-text-size: var(--body-2);

    /* COLORS */
    --brand: rgba(74, 108, 250, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    /* COMPONENTS */

    /* SCREEN */
    --screen-bg-primary: var(--white);

    /* BUTTON */
    --button-primary-bg: var(--brand);
    --button-primary-text: var(--white);

    --button-secondary-bg: rgba(74, 108, 250, 0.1);
    --button-secondary-text: var(--brand);

    --button-outlined-bg: transparent;
    --button-outlined-text: var(--brand);
    --button-outlined-border: var(--brand);

    /* BADGE */
    --badge-primary-bg: var(--brand);
    --badge-primary-text: var(--white);

    --badge-secondary-bg: rgba(74, 108, 250, 0.1);
    --badge-secondary-text: var(--brand);

    --badge-outlined-bg: transparent;
    --badge-outlined-text: var(--brand);
    --badge-outlined-border: var(--brand);

    /* TYPOGRAPHY */
    --typography-primary: var(--black);
    --typography-secondary: var(--black);
    --typography-tertiary: var(--black);
  }

  .dark {
    /* SCREEN */
    --screen-bg-primary: var(--black);

    /* BUTTON */
    --button-secondary-bg: rgba(74, 108, 250, 0.2);
    --button-outlined-bg: transparent;

    /* BADGE */
    --badge-secondary-bg: rgba(74, 108, 250, 0.2);
    --badge-outlined-bg: transparent;

    /* TYPOGRAPHY */
    --typography-primary: var(--white);
    --typography-secondary: var(--white);
    --typography-tertiary: var(--white);
  }
}
